.system-card {
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 16rem;
  overflow: hidden;
  background: hsla(0, 0%, 100%, 85%);
  /* TODO: Refactor this. This is currently just to keep the cursor the same when hovering a system, but we should be able to do that without disabling the ability to select text in the card, which is what we're doing here */
  user-select: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.2s;
}

.system-card:not(.system-card__deemphasized):hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.system-card__deemphasized {
  opacity: 0.1;
}

.system-card__header {
  text-align: center;
  background: hsla(0, 0%, 0%, 75%);
  color: white;
  padding: 1rem 0.5rem;
}

.system-card__heading {
  margin: 0;
}

.system-card__data-category:not(.system-card__data-category--highlighted) {
  color: hsl(0, 0%, 50%);
}
