.App {
  padding: 2rem;
}

.logo {
  padding: 1rem;
}

.filters-and-layout {
  display: flex;
  align-items: center;
  gap: 4rem;
  border-bottom: 4px dashed var(--primary);
  width: fit-content;
  padding: 2rem 1rem;
}

.layout-mode {
  background: var(--primary-light);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  align-self: flex-end;
  margin-left: 2rem;
  margin-right: 4rem;
}

.layout-mode__title {
  font-size: 20px;
  font-weight: bold;
}

.layout-mode__input {
  margin-right: .75rem;
}

.systems-grid {
  display: flex;
  padding: 2rem;
  gap: 6rem;
  overflow-x: auto;
}

.system-list {
  padding: 0.5rem;
  width: 16rem;
}

.system-list__header {
  margin-bottom: 2rem;
}

.system-list__heading {
  margin-bottom: 0.5rem;
}

.system-list__subheading {
  color: hsl(0, 0%, 50%);
  font-style: italic;
  margin-top: 0;
}
