.App {
  padding: 4rem;
}

.systems-grid {
  display: flex;
  gap: 2rem;
}

.system-list {
  padding: 0.5rem;
}

.system-list__header {
  margin-bottom: 2rem;
}

.system-list__heading {
  margin-bottom: .5rem;
}

.system-list__subheading {
  /* TODO: Make a defined color palette and file for it. CSS variables for now, maybe a full-fledged CSS system later (i.e. Tailwind) */
  color: hsl(0, 0%, 50%);
  font-style: italic;
  margin-top: 0;
}
